<div class="m-auto">
    <h1 class="font-mono pt-2">Noticias</h1>
    <p class="font-mono pb-2">Acá van las noticias</p>
    <div class="grid grid-cols-2 gap-3">
        <div>
            <figure class="relative max-w-xs transition-all duration-300 cursor-pointer filter grayscale hover:grayscale-0 hover:font-bold">
                <a href="#">
                    <img class="rounded-lg" src="https://images.findawayworld.com/v1/image/cover/CD1256444?aspect=1:1&width=960" alt="image description">
                </a>
                <figcaption class="absolute px-4 text-lg text-white bottom-6">
                    <p>Enter the sunlit world</p>
                </figcaption>
            </figure>
        </div>
        <div>
            <figure class="relative max-w-xs transition-all duration-300 cursor-pointer filter grayscale hover:grayscale-0 hover:font-bold">
                <a href="#">
                    <img class="rounded-lg" src="https://booksofmyheart.net/wp-content/uploads/sites/305/2023/01/g18-2.jpg" alt="image description">
                </a>
                <figcaption class="absolute px-4 text-lg text-white bottom-6">
                    <p>Enter the tress world</p>
                </figcaption>
            </figure>
        </div>
    </div>
</div>