<nav class="bg-white border-gray-200 dark:bg-gray-900">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
    <div class="max-w-screen-xl flex space-x-2">
      <img src="https://www.17thshard.com/uploads/monthly_2016_11/cosmere_symbol.png.6e4715593bec01929a850170904f5a4d.png" class="h-8" alt="Cosmere Logo" />
      <p class="text-2xl font-semibold">Cosmere UY</p>
    </div>
    <ul class="flex">
      <li class="mr-6"><a class="hover:text-yellow-300" href="#">Algo</a></li>
      <li class="mr-6"><a class="hover:text-yellow-300" href="#">Algo 2</a></li>
      <li class="mr-6"><a class="hover:text-yellow-300" href="#">Algo 3</a></li>
      <li class="mr-6"><a class="hover:text-yellow-300" href="#">Algo 4</a></li>
    </ul >
  </div>
</nav>